PRIVATE_TOKEN="XXXXXXXXXXXXX"
BASE_URL="https://gitlab.com/user/"
PROJECT_ID="123"
GROUP_ID="1"
SMTP_SERVER="mail.com"
SMTP_USER="user"
SMTP_FROM="user@mail.com"
SMTP_TO="user2@mail.com"
SMTP_SUBJECT="Test"
